#sidebar{
    transition: width linear .2s;
}
.txtsidebar{
    transition: ease-in-out .3s;
    visibility: hidden;

    height: 24px;
    overflow: hidden;
    margin-left: 1.5rem;
}
body{
    background-color: #F4F5FB;
}
.head{
    z-index: 999;
}
.content{
    transition: all ease-in-out .2s;
}
.collapse-arrow .collapse-title:after {
    transition: all ease-in-out .2s;
}

#collapse, #collapse-head
{
    min-height: 48px;
    height: 48px;
}
.collapse-content{
    transition: ease-in-out 10s;
}