#sidebar{
    transition: width linear .2s;
}
.txtsidebar{
    transition: ease-in-out .3s;
    visibility: hidden;
    height: 24px;
    overflow: hidden;
    margin-left: 1.5rem;
    animation: text 0.3s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes text {
/*    display none*/
    0%{
        display: initial;
    }

    100%{
        display: none;
    }
}

#txtsidebar{
    transition: ease-in-out .3s;
    visibility: hidden;
    height: 24px !important;
    overflow: hidden;
}

body{
    background-color: #F4F5FB;
}
.head{
    z-index: 999;
}
.content{
    transition: all ease-in-out .2s;
}
.collapse-arrow .collapse-title:after {
    animation: fadein 0.1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#collapse, #collapse-head
{
    min-height: 48px;
    height: 48px;
}
.collapse-content{
    transition: ease-in-out 10s;
}
#maincontent{
    min-width: calc(100% - 306px);
    flex-wrap: wrap;
}
#maincontent1{
    max-width: calc(100% - 80px);
    flex-wrap: wrap;
}

.dd{
    z-index: 999;
    position: relative;
}

#sidebar{
    background: rgb(31,64,201);
    background: linear-gradient(129deg, rgba(31,64,201,1) 0%, rgba(117,79,179,1) 100%);
    color: #f3f3f3;
}
#navbar{
    background-color: #F5F5F5;
}